# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Spyder
.spyderproject
.spyproject

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Ficheiros temporários
*.tmp
*.temp

# Outputs temporários
*.log
